<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Suggestion</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    <div class="layout-container">
        <div class="action-button">
            <div class="Transcription-button">
                <button onclick="downloadTranscription()">Download Transcription Results</button>
                <button onclick="clearTranscription()">Clear Transcription Results</button>
            </div>
            <div class="validation-button">
                <button onclick="getValidation()">Get Validation Results</button>
                <button onclick="downloadValidation()">Download Validation Results</button>
            </div>
        </div>
        <!-- Text area to display file content -->
        <div class="textarea-container">
            <textarea id="file-content-display" placeholder="File content will be displayed here..."></textarea>
        </div>

        <!-- Main card with buttons and response area -->
        <div class="container">
            <h1>Bot Question Suggestion</h1>
            <button onclick="startRecording()">Start Recording</button>
            <button onclick="stopRecording()">Stop Recording</button>
            <button onclick="triggerRoute()">Get Suggestions</button>
            <textarea id="response-text" placeholder="The response will be displayed here..."></textarea>
        </div>
    </div>
    <script src="static\script.js"></script>
</body>
</html>